RedirectPermanent /le_caveur.asp http://www.truffaire.com/le_caveur.html
redirectPermanent /gamme-truffaire.asp http://www.truffaire.com/gamme-truffaire.html
redirectPermanent /le_truffadou.asp http://www.truffaire.com/le_truffadou.html
redirectPermanent /commande.asp http://www.truffaire.com/commande.html
redirectPermanent /couteau_champignon.asp http://www.truffaire.com/couteau_champignon.html
redirectPermanent /fabrication.asp http://www.truffaire.com/fabrication.html
redirectPermanent /truffaire_pliant.asp http://www.truffaire.com/truffaire_pliant.html
RedirectPermanent /presentation.asp http://www.truffaire.com/presentation.html
RedirectPermanent /le_compagnon.asp http://www.truffaire.com/le_compagnon.html
RedirectPermanent /utilisation.asp http://www.truffaire.com/utilisation.html
RedirectPermanent /la_besace.asp http://www.truffaire.com/la_besace.html
RedirectPermanent /midi_libre_2010-12-19.asp http://www.truffaire.com/midi_libre_2010-12-19.html
RedirectPermanent /la_besace_cuir.asp http://www.truffaire.com/la_besace_cuir.html
